.pollutant-details {
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid #625c5c;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  color: #777;
  font-size: 1.2rem;
}

.pollutant-title {
  margin-top: 0;
  color: #333;
  font-size: 1.5rem;
}

.pollutant-description {
  font-size: 1.2rem;
  color: #777;
}

.learn-more-link {
  color: #007bff;
  text-decoration: none;
}

.pollutant-instruction {
  color: #777;
  font-size: 1.2rem;
}
