.pollutant-details {
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid #625c5c;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
}

.pollutant-details h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.5rem;
}

.pollutant-details p {
  color: #777;
  font-size: 1.2rem;
}
