.detailed-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3f3f3;
}

.detailed-view h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
}

.detailed-view p {
  font-size: 1.5rem;
  color: #777;
}

.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f3f3f3;
  padding: 1rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-item {
  margin-right: 1rem;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 4px;
}

.nav-item a:hover {
  background-color: #625c5c;
  color: white;
}

.detailed-chart-container {
  width: 70%;
  position: relative;
  border: 1px solid #000;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.detail-serach-box {
  position: relative;
  margin-right: 0;
  padding: 0;
  margin-left: 10px;
}

.detailed-search-input {
  padding: 1px;
  width: 100%;
}

.detail-search-btn {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.detailed-search-select {
  padding: 1px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #625c5c;
  margin-right: 20px;
  width: 100%;
}

.detail-serach-box .detail-search-btn {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

.detailed-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  border: 1px solid #000;
  padding: 0 20px 0 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #a39090;
}
