.top-countries {
  border: 1px solid #000;
  padding-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.country-header {
  font-size: 22px;
  color: #333;
  margin-bottom: 1rem;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  text-transform: uppercase;
}

.country-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country-item {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.country-item:last-child {
  border-bottom: none;
}

.country-flag {
  margin-right: 10px;
}

.country-name {
  font-weight: 600;
}

.country-aqi {
  color: #54a2f6;
  font-weight: 700;
}
